{{!< layout/main }}

<h1>Your form was submitted !</h1>
<p>Thank you for your information.</p>
<a href="/receipt" class="download">Get your receipt<div class="spinner"></div></a>


<script>

    const downloadLinks = document.getElementsByClassName('download');

    for(let downloadLink of downloadLinks) {
        downloadLink.addEventListener('click', function(event) {
            event.preventDefault();

            const spinner = event.currentTarget.querySelector('.spinner');
            spinner.style.display = 'inline-block';

            fetchWithRetryAfter(() => fetchDownloadAttachment(fetch(this.getAttribute('href'))), 10)
                    .then(() => {
                        spinner.style.display = 'none'
                    })
                    .catch(error => console.error(error))
        })
    }

</script>