{{!< layout/main }}

<h1>Your form was submitted !</h1>
<p>Thank you for your information.</p>
<a href="/receipt" class="download">Get your receipt<div class="spinner"></div></a>


<script>

    const downloadLinks = document.getElementsByClassName('download');

    for(let downloadLink of downloadLinks) {
        downloadLink.addEventListener('click', function(event) {
            event.preventDefault();

            const spinner = event.currentTarget.querySelector('.spinner');
            spinner.style.display = 'inline-block';

            fetchWithRetryAfter(() => fetchDownloadAttachment(fetch(this.getAttribute('href'))), 10)
                    .then(() => {
                        spinner.style.display = 'none'
                    })
                    .catch(error => console.error(error))
        })
    }

    async function fetchWithRetryAfter(fetch, maxRetries = 5) {
        let attempt = 0;
        let response;

        while (attempt < maxRetries) {
            attempt++;

            response = await fetch();

            if(response.headers.get('Retry-After')) {
                let delayMs = response.headers.get('Retry-After') * 1000;
                await new Promise(resolve => setTimeout(resolve, delayMs));
                continue;
            }

            return response;
        }

        return response;
    }

    // Function to perform a GET request to the current page
    async function fetchDownloadAttachment(fetch) {
        const response = await fetch;

        const contentDisposition = response.headers.get('Content-Disposition');

        if(contentDisposition && contentDisposition.includes('attachment')) {
            // Extract filename (if any) from Content-Disposition
            const filenameMatch = contentDisposition.match(/filename="?(.+)"?/);
            const filename = filenameMatch ? filenameMatch[1] : 'default-filename';

            // Process the response as a Blob and initiate the download
            const data = await response.blob();
            const downloadUrl = window.URL.createObjectURL(data);
            const a = document.createElement('a');
            a.href = downloadUrl;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(downloadUrl);
        }

        return response;
    }

</script>