<h1>File download</h1>
<p>We are creating your file.</p>
<p>Please wait 5 seconds and click the download link below:</p>
<a href="/receipt">Download</a>

<script>

    fetchWithRetryAfter(() => fetchDownloadAttachment(fetch(window.location.href)), 10)
            .then(result => console.log(result))
            .catch(error => console.error(error.message));

</script>